- if discount[:message_active].present?
  .grid__cell
    .card{ class: card_classes(:message, active) }
      = link_to message_pricing_discount_path(discount), class: 'card__header' do
        %span.card__header-text= t('workarea.admin.pricing_discounts.cards.message.header')
        = inline_svg 'workarea/admin/icons/attributes.svg', class: 'card__icon'

      - if active.blank?
        .card__body
          %ul.list-reset
            %li
              %strong #{t('workarea.admin.pricing_discounts.fields.message_active')}:
              = check_box_tag 'discount_message', 'message_active', discount.message_active, disabled: true
            %li
              %strong #{t('workarea.admin.pricing_discounts.fields.message')}:
              = discount.message
            %li
              %strong #{t('workarea.admin.pricing_discounts.fields.message_applied')}:
              = discount.message_applied

          = link_to message_pricing_discount_path(discount), class: 'card__button' do
            %span.button.button--small= t('workarea.admin.pricing_discounts.cards.attributes.edit')
